.height-100{
    height: 100vh;
    overflow-y: auto;
}

.height-20{
    height: 20%;
}

.height-80{
    height: 80%;
}

.vertical-scroll{
    overflow-y: auto; 
}

.contentlist{
padding-top: 5px;
    
}

.infoBackground{
    background-color: darkgrey;
}
